In [9]:
from IPython.display import display
import pandas as pd

In [13]:
df = pd.read_csv('poisson_sim.csv')
df.head()

    id  num_awards  prog  math
0   45           0     3    41
1  108           0     1    41
2   15           0     3    44
3   67           0     3    42
4  153           0     3    40

In [17]:
df.loc[df['prog']==1, 'prog'] = 'General'
df.loc[df['prog']==2, 'prog'] = 'Academic'
df.loc[df['prog']==3, 'prog'] = 'Vocational'
df.head()

    id  num_awards        prog  math
0   45           0  Vocational    41
1  108           0    Academic    41
2   15           0  Vocational    44
3   67           0  Vocational    42
4  153           0  Vocational    40

In [11]:
df.groupby(['prog'])['num_awards'].mean()

prog
1    0.20
2    1.00
3    0.24
Name: num_awards, dtype: float64

In [8]:
df.groupby(['prog'])['num_awards'].std()

prog
1    0.404520
2    1.278521
3    0.517451
Name: num_awards, dtype: float64